/* 
    Document   : style.css
    Created on : 2013-10-16, 14:24:47
    Author     : Xathloc
    Description:
        Purpose of the stylesheet follows.
*/
.alert-overlay {
    box-shadow: 1px 1px 3px #999999;
    left: 50%;
    margin-left: -400px;
    position: absolute;
    top: 20px;
    width: 800px;
    z-index: 1001;
}

.nav-stacked .dropdown-menu {
    background-clip: inherit;
    background-color: inherit;
    border: medium none;
    box-shadow: inherit;
    float: none;
    font-size: 0.95em;
    left: auto;
    margin: 0;
    min-width: inherit;
    padding-left: 10px;
    position: inherit;
    top: auto;
    z-index: inherit;
}
.nav-stacked.nav-expanded .dropdown-menu {
    display: block;
}
.nav-stacked .dropdown-menu > li > a {
    border-radius: 5px 5px 5px 5px;
    color: #428BCA;
    padding: 3px 3px 3px 30px;
    white-space: normal;
}
.nav-stacked .dropdown-menu > li > a:hover,
.nav-stacked .dropdown-menu > li > a:focus{
    background-color: #EEEEEE;
    color: #428BCA;
}
.nav-stacked .dropdown-menu > .active > a,
.nav-stacked .dropdown-menu > .active > a:hover,
.nav-stacked .dropdown-menu > .active > a:focus {
    background-color: #428BCA;
    color: #FFFFFF;
    outline: 0 none;
    text-decoration: none;
}